@media screen and (max-width: 768px) {
  .Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
  }

  .PaginationLight {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .PaginationDark {
    /* Если нужно, добавьте специфические стили для темной темы */
  }

  .PaginationButton {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin: 5px;
    cursor: pointer;
  }

  .light {
    background-color: rgb(255, 255, 255, 0.5);
    transition: 1s ease-in-out;
    border: none;
  }

  .dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 1s ease-in-out;
  }

  .light:hover {
    background-color: rgba(255, 1, 1, 0.2);
    color: black;
    transition: 1s;
  }

  .dark:hover {
    background-color: rgba(255, 1, 1, 0.2);
    color: black;
    transition: 1s;
  }

  .light:active {
    background-color: rgba(21, 0, 250, 0.2);
    transition: 1s;
  }

  .dark:active {
    background-color: rgba(21, 0, 250, 0.2);
    transition: 1s;
  }

  .PaginationEllipsis {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin: 0 5px;
  }
}