/* УДАЛИТЬ ЭТИ СТИЛИ ИЗ ВАШЕГО ОСНОВНОГО CSS-ФАЙЛА */

.Pagination-button {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin: 5px;
    cursor: pointer;
}

.Pagination-button.light {
    background-color: rgb(255, 255, 255, 0.5);
    transition: 1s ease-in-out;
    border: none;
}

.Pagination-button.dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 1s ease-in-out;
}

.Pagination-button.dark:hover {
  background-color: rgba(255, 1, 1, 0.2);
  color: black;
  transition: 1s;
} 

.Pagination-button.light:hover {
  background-color: rgba(255, 1, 1, 0.2);
  color: black;
  transition: 1s;
} 

.Pagination-button.light:active {
  background-color: rgba(21, 0, 250, 0.2);
  transition: 1s;
}

.Pagination-button.dark:active {
  background-color: rgba(21, 0, 250, 0.2);
  transition: 1s;
} 

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.Pagination.dark {}
.Pagination.light {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

 