@media screen and (max-width: 768px) {
  .search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
  }

  .searchInputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
  }

  .searchInput {
    position: relative;
    width: 100%;
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: all 0.3s ease-in-out;
    width: 25vh;
  }

  .searchSuggestion {
    position: absolute;
    margin-top: 15px;
    left: 10px;
    transform: translateY(-50%);
    padding: 0;
    font-size: 16px;
    color: rgba(136, 136, 136, 0.7);
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
    box-sizing: border-box;
    background: transparent;
    border: none;
    z-index: 1;
  }

  .searchInput:focus + .searchSuggestion,
  .searchInput:focus ~ .searchSuggestion {
    color: rgba(204, 204, 204, 0.8);
  }

  .Clear {
    margin: 0 auto;
    border-radius: 5px;
    height: 40px;
    min-width: 90px;
    font-size: 15px;
  }

  .ClearDark {
    transition: 1s ease-in-out;
    color: white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .ClearLight {
    transition: 1s ease-in-out;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgba(241, 241, 241, 0.062);
  }

  .input {
    margin: auto;
    height: 40px;
    padding: 20px;
    width: 80%;
    margin: auto;
  }

  .inputDark {
    transition: 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .inputLight {
    transition: 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    color: black;
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
  }
}