.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212; /* Темный фон для прелоадера */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Поверх всего контента */
  overflow: hidden;
}

.preloadContent {
  text-align: center;
}

.preloadText {
  font-size: 4rem; /* Большой размер шрифта */
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.1em;
  margin: 0;
  opacity: 0;
  animation: fadeInScale 1.5s ease-out forwards;
}

/* Анимация появления и легкого увеличения */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Адаптивность для текста */
@media screen and (max-width: 768px) {
  .preloadText {
    font-size: 2.5rem;
  }
}