/* ImageModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalContent {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scaleIn 0.3s ease-out;
  cursor: default;
  border-radius: 20px;
  outline: none;
}

.modalContentDark {
  /* Дополнительные стили для темной темы, если нужно */
}

.modalContentLight {
  /* Дополнительные стили для светлой темы, если нужно */
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1001;
}

.closeButton:hover {
  background: rgba(255, 255, 255, 1);
}

.dark .closeButton {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.dark .closeButton:hover {
  background: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .modalContent {
    max-width: 95vw;
    max-height: 95vh;
  }
}